{% import '@SyliusShop/Common/Macro/messages.html.twig' as messages %}

<div class="row">
    <div class="col">
        {{ messages.info('locastic_sylius_comparer_plugin.ui.empty_comparer_notice'|trans) }}
    </div>
</div>